body {
    font-family: 'Source Sans Pro', sans-serif;  
    margin: 0px auto ;
    width: 100%;
}
.secao-topo {
    border: 1px solid rgb(228, 224, 224);
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
}
.topo-link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;

}
.link-pousada {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 25px;    
}
.link-pousada span {
    color: rgb(63, 139, 139);
}
.link-topo  {
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 17px;
    font-weight: normal;    
}
.secao-img img {
    width: 100%;
    height: 60%;
    position: relative;
    top: 60px;
    z-index: 0;   
}
.secao-img .texto-img {
    border: 1px solid white;
    background-color: #0aa48a;
    border-radius: 5px;
    opacity: 0.80;
    width: 37%;
    height: 28vh;
    position: relative;
    bottom: 520px;
    left: 31%;
    z-index: 0;
}

.secao-img .texto-img {    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.secao-img .texto-img .texto-titulo {
    padding-top: 5px;
    font-size: 7vh;
    color: white;     
}
.secao-img .texto-img .texto-pa {
    color: white;
    font-size: 4vh;
    position: relative;
    bottom: 15%;    
}
.secao-boasvindas {
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    bottom: 150px;    
    color: rgb(75, 75, 75);    
}

.secao-boasvindas .boas-titulo {
    font-size: 38px;   
    font-weight: normal;    
}
.secao-boasvindas .boas-pa {
    font-size: 20px;
    font-weight: 350;

}
.secao-quarto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 200px;
}
.secao-quarto img {
    width: 400px;
    height: 250px;
    padding: 0 20px;   
}

.secao-quarto a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    margin: 0 0px 0 30px;
    padding: 0  110px  20px 110px;
    font-size: 20px;
    border-bottom: 2px solid #34a18f;
}
.secao-quarto .quarto1 a {
    padding-right: 90px;
}
.secao-rota  { 
    position: relative;
      bottom: 120px;
      text-align: center;
      color: rgb(75, 75, 75) ;
}
.secao-rota h2 {
      font-size: 38px;
      font-weight: normal;      
}
.secao-rota p {
      font-size: 20px;
      font-weight: 350;
      padding-bottom: 30px;
}   
.secao-rota iframe {
      width: 100%;
      height: 400px;    
}
.secao-info {
      position: relative;
      bottom: 60px;
      text-align: center;
      color: rgb(75, 75, 75) ;
}
.secao-info h3 {
      font-size: 38px;
      font-weight: normal; 
}
.secao-info p {
      font-size: 20px;
      font-weight: 350;
      padding-bottom: 30px;
}
.secao-estrutura {       
       display: flex;
       color: rgb(75, 75, 75) ; 
       margin: 20px auto;
       width: 70%;
}
.secao-estrutura img {
       width: 100px;
       height: 120px;
}
.secao-estrutura .estrutura-pousada {
       display: flex;
       flex-direction: row;
       padding-right: 100px; 
       padding-bottom: 50px;   
}
.secao-estrutura  .estrutura-pousada h2 {
       font-size: 20px;
}
.secao-estrutura  .estrutura-pousada p {
       font-weight: 350;
       padding-right: 20px;
} 
.secao-estrutura p {
    font-weight: 350;
}
.secao-estrutura  h2 {
    font-size: 20px;
}
.secao-estrutura .estrutura-quartos{
    display: flex;
    flex-direction: row;
    padding-right: 100px; 
    padding-bottom: 50px;
}      
.secao-estrutura .estrutura-alimentacao {
    display: flex;
    flex-direction: row;
    padding-right: 100px; 
    padding-bottom: 50px;
}
.secao-estrutura .estrutura-recepcao {
    display: flex;
    flex-direction: row;
    padding-right: 88px; 
    padding-bottom: 50px;    
}
.secao-estrutura .estrutura-recepcao p {
    padding-right: 210px;
}
.secao-estrutura .estrutura-quartos p{
   width:  400px;
   padding-right: 20px;
}
.secao-estrutura .estrutura-alimentacao p {
    padding-right: 30px;
}
.secao-rodape {
     background-color: #49997c; 
     display: flex;
}
.rodape-up {
    display: flex;
    width: 100%;
    margin: 15px 40%;
    justify-content: space-between;
    align-items: center;
}
.rodape-up .rodape-up1  {
    width: 20%;
    padding: 0 0 0 0;
    color: white;
    font-size: 18px;
}   
.rodape-up .rodape-up2  {
    width: 20%;
    padding: 25px 0px;
    display: flex;
}   
.rodape-up .rodape-up2 a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}
.rodape-up .rodape-up2 .up2-img {
    padding-right: 10px;
}
.rodape-up .rodape-up3  {
    width: 20%;
    padding: 0 0px;
    display: flex;
    padding: 25px 0px;
}   
.rodape-up .rodape-up3 .up3-p{
    color: white;
    padding: 0 0 0 10px;   
}
.rodape-up .rodape-up3 .up3-p p {
    padding-bottom: 10px;
}
.rodape-up .rodape-up4 {
    width: 20%;
    padding-top: 0px;
    display: flex;
}  
.rodape-up .rodape-up4 .up4-a {
    padding-left: 10px;
}
.rodape-up .rodape-up4 a  {
    text-decoration: none;
    color: white;    
}
.rodape-down {
    position: relative;
    left: 40%;
}
.rodape-down  p{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-top: 0.5px solid rgb(65, 63, 63);
    padding-top: 10px;
}
