

* {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.secao-topo {
      background-color: #573d96;
      
      width: 100%; 
      height: 100%;        
      
}

.texto-topo {
     width: 90%;
     max-width: 1024px;
     padding: 20px 10px 20px 250px;
     text-align: left; 

}

.texto-topo span {
    color: white;
    font-size: 28px;
    
    
}

.texto-topo ul {
    display: inline-block;
    list-style: none;
    

}

.texto-topo li {
   
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    padding: 10px 15px;
    display: inline;
    margin-left: 15px;

}
.texto-topo a{
    font-size: 18px ;
    text-decoration: none;
    color: #573d96;
}

.secao-capa img {
    width: 100%; 
    
} 

.secao-sinopse h2 {
        
      padding-top: 20px;
      padding-bottom: 20px;

}

.secao-sinopse p {
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 25px;
    font-size: 20px;
}

.secao-disp {
    width: 70%;
    margin: 0 auto;
}

.secao-disp h2 {
    padding-bottom: 20px;
}

.secao-disp img {
    width: 100%;
    margin: 0 ;

}

.secao-disp p {
    text-align: justify;
    font-size: 20px;
    padding: 20px 0;

} 

.secao-catalogo {
    width: 70%;
    margin: 0 auto;
    

}
.secao-catalogo p {
    text-align: left;
    font-size: 20px;
    padding: 20px 0;

}

.imagem-catalogo {
    display: inline-flex;
    width: 100%;
    overflow: auto;
    

}

.imagem-catalogo img {
    width: 400px;
    margin: 10px;
    box-shadow: 10px 10px 10px gray;

}

.secao-rodape {
    background-color: #573d96;
      
      width: 100%; 
      max-width: 1920px;
      min-width: 1024px;
}

.secao-rodape p {
    margin-bottom: 0;
    color: white;
    padding: 20px 0;
}