* {
    margin: 0 auto;      /*retirando as margem de cima a baixo e centralizando os elementos*/
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.secao-topo {
    display: flex;      /*Colocando um do lado do outro*/
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: fixed;         /*Colocando o menu fixo mesmo rolando o scroll */      
    background-color: white;
    border: 1px solid rgb(255, 250, 250);
    z-index: 1;
}
.secao-topo figure img {
    width: 150px;    
}
.secao-topo ul {
    display: flex;        /*Colocando a lista lado a lado*/
}
.secao-topo ul li {                       
    text-decoration: none;             /*Estilizando a lista, colocando espaços laterias e up e down e arrumando o tamanho da fonte */
    list-style: none;
    padding: 20px 15px 0 20px;
    font-size: 18px;
}
.secao-topo ul li a {              /*Estlizando a link*/

    text-decoration: none;
    color: rgb(39, 38, 38);
    background-color: white;
    border-radius: 10px;          /*Foi adcionado essa borda branca para adicionar marcar o espaço para quando entrar a hover e nao haver mudança de no */
    padding: 10px 10px;
}
.secao-topo ul li a:hover{
    background-color: black;
    opacity: .8;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
}

/*Estilização section 1 --------------------------------------------------------------------------------------------------------------*/

main ,footer{                             /*Como foi usado o position fixed no topo tive que colocar um relative no main e o footer pra ficar abaixo*/
    position: relative;
    top: 100px;
    z-index: 0;                 /* z index foi usado para ficar atras do topo*/
}
.secao-capa {                    /*Inserindo uma imagem cobrindo a div inteira, */
    padding-bottom: 500px;
    bottom: 100px;
    width: 100%;
    height: 50px;
    background-image: url("asset/bg-estacao.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.secao-capa .secao-capa-int {  /*div interna da secao-capa para posicionar no centro a letra*/
    position: relative;
    top: 250px;
}
.secao-capa .secao-capa-int h1 {    
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.secao-capa .secao-capa-int h2 {   
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.secao-capa::before {                 /* :before para criar uma capa do mesmo tamanho porem ficando acima da "secao-capa"  nao esquecer do content */
     content: "";
     background-color: black;      
     width: 100%;             /* o tamanho foi ajustado 100 de largura mas 550px  de height*/
     height: 550px;
     opacity: .6;
     position: absolute;         /*position para elemento ficar acima da secao-capa*/
     top: 0;
     left: 0;
}
/*Estilização section 2 ----------------------------------------------------------------------------------------*/
.secao-cidade {          /*Definindo tamanho 63%* para ficar exatamente da mesma largura do topo, padding pra espaçar cima e baixo das outras section*/
    width: 63%;
    padding: 50px 0;
    text-align: center;
}
.secao-cidade h2 {
    padding-bottom: 40px ;        /*Estlização  do subtítulo*/
    font-size: 30px;
    font-weight: 400;
}
.secao-cidade figure {       
    padding-bottom: 20px;
}
.secao-cidade figure img {       
    width: 100%;       
}
.secao-cidade p {    
      text-align: justify;
      padding-bottom: 20px;
      font-weight: lighter;
      font-size: 16px;
}
.secao-cidade p::first-letter{    /*Colocando "first letter" pra que todas os paragrafos comecem com estilização personalizada*/

    font-weight: bold;
    font-size: 20px;
}
/* Estilização section 3 -------------------------------------------------------------------------------*/
.secao-turistico {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(224, 223, 223);
}
.secao-turistico .secao-turistico-int {
     width: 63%;          /* Alterando tamanho pra ajustar a margens das outras section*/
}
.secao-turistico h2 {
    padding-bottom: 40px ;        /*Estlização  do subtítulo*/
    font-size: 30px;
    font-weight: 400;
}
.secao-turistico figure{
    padding-bottom: 20px;
}
.secao-turistico figure img{
    width: 100%;
}

.secao-turistico p {
    text-align: start;
    padding-bottom: 20px;
}

.secao-turistico ul {
    text-align: start; 
}

.secao-turistico ul li {
    list-style: none;
}

.secao-turistico ul li img {
    padding: 5px 5px 0 0 ;
}
/* Estilização ultima section--------------------------------------------------------------------*/
.secao-galeria {
    width: 63%;
    padding: 50px 0;
    text-align: center;
}
.secao-galeria h2 {
    padding-bottom: 40px ;        /*Estlização  do subtítulo*/
    font-size: 30px;
    font-weight: 400;
}

.secao-galeria p {
    text-align: start;
    padding-bottom: 30px;    
}
.secao-galeria div {      /*Foi criado uma div para cada sequencia para facilitar fazer as colunas */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.secao-galeria div img {     /*Alterando tamanho, e adicionando opacity para atravez da funçao "hover" dar um efeito ao passar o mouse*/
    width: 350px;
    padding-bottom: 30px;
    opacity: 0.5;     
}
.secao-galeria div img:hover {
     opacity: 1;     
}
footer  p{                             /*Estlização do rodapé*/                  
    background-color: rgb(248, 182, 1);
    text-align: center;    
    padding: 18px;
}
/*Criando responsividade para dispositivios de resolução até 425px e 768px */
/*Responsividade até 425px*/
@media only screen and (max-width: 425px) {
    .secao-topo{
        display: flex;
        flex-flow: column;       /*Estilizando o topo, colocando a img acima dos links da nav */
    }
    .secao-topo figure img {
        width: 160px;
        padding-right: 20px;
    }
    .secao-topo ul {
        margin: 0 20px 10px 0;
    }
    .secao-topo ul li {                       
        text-decoration: none;             /*Estilizando a lista, colocando espaços laterias e up e down e arrumando o tamanho da fonte */
        list-style: none;
        padding: 10px 0px 0 15px;
        font-size: 16px;
    }
    .secao-capa {
        width: 425px;       
    }
    .secao-capa .secao-capa-int h1 {    
        font-size: 80px;
    }
    .secao-capa .secao-capa-int h2 {    
        font-size: 40px;
    }
    .secao-cidade {
        width: 90%;
    }
    .secao-cidade h2 {
        font-size: 25px;                    /*Estlização  do subtítulo*/   
    }
    .secao-cidade figure {       
        padding-bottom: 20px;
        width: 100%;
    }
    .secao-cidade figure img {       
        width: 350px;     
    }
    .secao-cidade p {    
          text-align: justify;
          padding-bottom: 20px;
          font-weight: lighter;
          font-size: 16px;
    }
    .secao-turistico .secao-turistico-int {
        width: 90%;          /* Alterando tamanho pra ajustar a margens das outras section*/
    }
    .secao-galeria {
        width: 90%;
    }
    .secao-galeria p{
        padding-left: 20px;
    }