div{
    font-family: Verdana, sans-serif;
}
h1{
    font-size: 22px;
    text-align: center;
}
h2{
    font-size: 18px;
    color: rgb(167, 17, 17);
    font-weight: normal;
    text-align: center;
}
h3{
    font-size: 16px;
    text-decoration: underline;
    color: rgb(167, 17, 17);
}
p{
    font-size: 14px;
    line-height: 28px;
    color: aqua;
    
    
}
